#### Import Data

In [17]:
import pandas as pd
df = pd.read_csv("dataset.csv")
#df.set_option("display.max_columns",None)
df[df["experience_level"] == "EN"]["job_title"].value_counts()

job_title
Data Engineer                         66
Data Analyst                          63
Data Scientist                        59
Machine Learning Engineer             21
Research Engineer                     10
Research Scientist                     9
AI Scientist                           7
Data Science Consultant                7
Applied Scientist                      6
AI Developer                           6
BI Data Analyst                        6
Business Data Analyst                  6
Machine Learning Developer             5
Computer Vision Engineer               4
Big Data Engineer                      4
Computer Vision Software Engineer      3
Applied Data Scientist                 3
Machine Learning Research Engineer     3
AI Programmer                          2
Applied Machine Learning Scientist     2
ML Engineer                            2
Data Manager                           2
Machine Learning Scientist             2
BI Analyst                             2
3D Computer Vision Researcher          2
Data Analytics Engineer                2
Deep Learning Engineer                 2
BI Developer                           2
Compliance Data Analyst                1
Data Analytics Consultant              1
BI Data Engineer                       1
Machine Learning Software Engineer     1
Product Data Analyst                   1
Autonomous Vehicle Technician          1
Data Quality Analyst                   1
Data Specialist                        1
Analytics Engineer                     1
Financial Data Analyst                 1
Marketing Data Engineer                1
Power BI Developer                     1
Name: count, dtype: int64

#### Checking for nulls

In [ ]:
df.info()
df.isnull().any()

# No nulls detected

#### Checking for duplicates

In [ ]:
df.duplicated(keep="first").any()

## Duplicates are present, keeping them in for now, as it is possible for different people to have the same job w/ same salary

#### Adding column for currency in MYR

In [ ]:
df["salary_in_myr"] = df["salary_in_usd"] * 4.71
df["salary_in_myr"] = df["salary_in_myr"].astype("int")
df[["job_title","salary_in_usd","salary_in_myr"]]

## Added column for currency in MYR, converted to int to remove decimal values

#### Converting location names to full name

In [ ]:
import pycountry

df['country_name'] = df['company_location'].map(lambda x: pycountry.countries.get(alpha_2=x).name)
df.groupby("country_name")['company_location'].unique()

#### Exporting to processed_data.csv

In [ ]:
df.to_csv("processed_data.csv", index = False)

## saved to processed_data.csv